
body {
    background-color: #363;
}

.tile {
    text-align: center;
    /* padding: 0.5vh 0.2vw; */
    /* margin: 0.2vh 0.2vw; */
    /* border-radius: 5px; */
    cursor: pointer;
    /* background-color: #ccc; */
    /* color: #666; */
    /* font-weight: bold; */
}

.tile-v {
    margin: 0.2vw 0.2vw;
    font-size: 4.0vw;
    /* line-height: 4.5vw; */
    min-width: 3.0vw;
    max-width: 3.0vw;
    min-height: 5.0vw;
    max-height: 5.0vw;
}

.tile-h {
    margin: 0.2vh 0.2vh;
    font-size: 6.0vh;
    /* line-height: 6.5vh; */
    min-width: 8.5vh;
    max-width: 8.5vh;
    min-height: 5.0vh;
    max-height: 5.0vh;
}

.tile-bottom {
    transform: translateX(-2.0vw);
}

.tile-left {
    transform: rotateZ(90deg);
}

.tile-top {
    transform: rotateZ(180deg);
}

.tile-right {
    transform: rotateZ(270deg);
}

.tile-se {
    margin-top: -3vh;
}

.tile-bk {
    cursor: not-allowed;
}

.gap-v {
    width: 1vw;
    max-width: 1vw;
}

.gap-h {
    height: 1vh;
    max-height: 1vh;
}

#pos-top {
    position: fixed;
    left: 80vw;
    top: 7.5vh;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    width: 90%;
}

#pos-bottom {
    position: fixed;
    left: 60vw;
    top: 90vh;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    width: 90%;
}

#pos-left {
    position: fixed;
    left: 10vw;
    top: 45vh;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    width: 10vh;
}

#pos-right {
    position: fixed;
    left: 90vw;
    top: 45vh;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    width: 10vh;
}

.label {
    position: fixed;
    margin: 0 auto;
    transform: translate(-50%, -50%);
    width: 8vw;
    height: 8vw;
    font-size: 6vw;
    color: #fff;
    border-radius: 1000px;
    text-align: center;
    margin: auto;
}
#label-top { left: 50vw; top: 15vh; }
#label-bottom { left: 50vw; top: 60vh; }
#label-left { left: 15vw; top: 50vh; }
#label-right { left: 85vw; top: 50vh; }
.label-showing { background-color: #0008; }

#pool-box {
    position: fixed;
    left: 50vw;
    top: 45vh;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    padding: 2vh 2vw;
    min-width: 60vw; max-width: 65vw;
    min-height: 65vh; max-height: 65vh;
}

.pool-row {
    min-height: 10vh; max-height: 10vh;
    flex-wrap: unset !important;
}

.pool-row-even {
    margin-left: -0.5vw;
}

.pool-row-odd {
    margin-left: 0.5vw;
}

#action-box {
    position: fixed;
    left: 50vw;
    top: 77.5vh;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

.action {
    min-width: 3.5vw;
    max-width: 3.5vw;
    min-height: 3vw;
    max-height: 3vw;
    margin: 0.2vh 0.2vw;
    padding: 0.2vh 0.2vw;
    font-size: 1.25vw;
}

#menu-box {
    position: fixed;
    left: 97.5vw;
    top: 10vh;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

#name-tag {
    position: fixed;
    left: 3vw;
    bottom: 3vh;
    color: antiquewhite;
    font-size: 3vh;
}

.row {
    display: flex;
}

.col {
    display: unset;
}
