@media only screen and (orientation:portrait) {
    #rotate-box {
        display: block;
    }

    #container {
        display: none;
    }

    body,
    #rotate-box {
        background-color: #fff;
    }
}

@media only screen and (orientation:landscape) {
    #rotate-box {
        display: none;
    }

    #container {
        display: block;
    }

    body,
    #container {
        background-color: #363;
    }
}

body {
    margin: 0;;
    display: flex;
    align-items: center;
}

.tile {
    text-align: center;
    /* padding: 0.5vh 0.2vw; */
    /* margin: 0.2vh 0.2vw; */
    border-radius: 5px;
    cursor: pointer;
    /* background-color: #ccc; */
    /* color: #666; */
    /* font-weight: bold; */
}

.tile-vv {
    margin: auto;
    width: 5.0vw;
    height: 6.6vw;
}

.tile-v {
    margin: 0.2vw 0.2vw;
    width: 3.0vw;
    height: 4.0vw;
}

.tile-h {
    margin: 0.2vh 0.2vh;
    width: 6.0vh;
    height: 5.0vh;
}

/* .tile-bottom { transform: translateX(-2.0vw); } */
.tile-left {
    transform: rotateZ(90deg);
}

.tile-top {
    transform: rotateZ(180deg);
}

.tile-right {
    transform: rotateZ(270deg);
}

.tile-se {
    margin-top: -3vh;
}

.tile-bk {
    cursor: not-allowed;
}

#pos-bottom > .tile-bk {
    width: 2.5vw;
    margin-top: 1vw;
}

.tile-img-top,
.tile-img-bottom,
.tile-img-label,
.tile-img-pool {
    width: 100%;
}

.tile-img-left,
.tile-img-right {
    width: 70%;
}

/* .tile-img-top { width: 100%; transform: translate(-0.1vw, 0.5vh); }
.tile-img-bottom { width: 100%; transform: translate(-0.2vw, 0.0vh); }
.tile-img-left { width: 70%; transform: translate(-1.0vh, 0.1vw); }
.tile-img-right { width: 70%; transform: translateX(0.75vh); }
.tile-img-label { width: 100%; transform: translateX(-0.2vw); }
.tile-img-pool { width: 100%; transform: translateX(-0.2vw); } */

.gap-v {
    width: 1vw;
}

.gap-h {
    height: 1vh;
}

.pos {
    position: fixed;
    margin: 0 auto;
}

#pos-top {
    right: 20vw;
    top: 5vh;
}

#pos-bottom {
    left: 5vw;
    top: 82.5vh;
    scale: 1.5;
    z-index: 3;
    transform-origin: top left;
}

#pos-left {
    left: 10vw;
    top: 5vh;
}

#pos-right {
    left: 85vw;
    bottom: 22.5vh;
}

.label {
    position: fixed;
    margin: 0 auto;
    transform: translate(-50%, -50%);
    width: 8vw;
    height: 8vw;
    font-size: 6vw;
    color: #fff;
    border-radius: 1000px;
    text-align: center;
}

#label-top {
    left: 50vw;
    top: 25vh;
}

#label-bottom {
    left: 50vw;
    top: 60vh;
}

#label-left {
    left: 20vw;
    top: 50vh;
}

#label-right {
    left: 80vw;
    top: 50vh;
}

.label-showing {
    background-color: #000d;
}

#pool-box {
    position: fixed;
    left: 20vw;
    top: 15vh;
    margin: 0 auto;
    padding: 2vh 2vw;
    min-width: 60vw;
    max-width: 65vw;
    min-height: 50vh;
    max-height: 50vh;
}

.pool-row {
    min-height: 10vh;
    max-height: 10vh;
    flex-wrap: unset !important;
}

.pool-row-even {
    margin-left: -0.5vw;
}

.pool-row-odd {
    margin-left: 0.5vw;
}

#action-box {
    position: fixed;
    left: 50vw;
    top: 72.5vh;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

.action {
    min-width: 5vw;
    max-width: 5vw;
    min-height: 3vw;
    max-height: 3vw;
    margin: 0.2vh 0.2vw;
    /* padding: 0.2vh 0.2vw; */
    font-size: 1.75vw;
    font-weight: bold;
    background-color: #fffd;
    border: 0;
    border-radius: 2vh;
    cursor: pointer;
}

.action:hover {
    background-color: #fff8;
}

.action:disabled {
    background-color: #fff2;
}

.action-s {
    font-weight: normal;
    min-width: 15vw;
    max-width: 15vw;
    min-height: 3vw;
    max-height: 3vw;
    font-size: 2vw;
}

#start-btn {
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

#menu-box {
    margin: auto;
    text-align: center;
    padding: 10px;
    background-color: #363;
    border-radius: 20px;
    position: fixed;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow:  10px 8px 10px 5px black;   
}

#menu-mask {
    position: fixed;
    background-color: #000b;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-center {
    text-align: center;
}

/* #select-bots { font-size: 2vh; } */

#tag-box {
    position: fixed;
    right: 3vw;
    bottom: 3vh;
    color: white;
    font-size: 3vh;
}

.row {
    display: flex;
}

/* .col { display: unset; } */

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grid-item {
    padding: 20px;
    text-align: center;
}

.btn-label {
    color: white;
    font-size: 2vw;
}

#menu-btn {
    position: fixed;
    right: 3vw;
    top: 3vh;
    width: 3vw;
    height: 3vw;
}